body {
    margin-left: 25px;
    margin-right: 25px;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer";
    gap: 10px;
}

header {
    margin-top: 20px;
    grid-area: header;
    width: 100%;
    background-color: rgb(31, 114, 248);
    border-radius: 19px;
    text-align: center;
    color: white;
    height: 110px;
}

header h1 {
    padding-top: 10px;
}

nav {
    background-color: rgb(53, 58, 64);
    grid-area: nav;
    height: 90px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

nav a {
    font-size: 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 25px;
    color: white;
    text-decoration: none;
    height: 35px;
    width: 120px;
    text-align: center;
    padding-top: 10px;
}

nav a:hover {
    background-color: rgb(4, 132, 244);
    border-radius: 19px;
}

main {
    background-color: rgb(192, 216, 242);
    grid-area: main;
}

main h2 {
    margin-left: 5px;
}

main p {
    margin-left: 10px;
}

aside {
    grid-area: aside;
    background-color: rgb(192, 216, 242);
}

aside h3 {
    margin-left: 5px;
}

aside p {
    margin-left: 10px;
}

footer {
    background-color: rgb(31, 114, 248);
    grid-area: footer;
    border-radius: 19px;
    height: 70px;
    text-align: center;
    color: white;
}

footer p {
    margin-top: 25px;
}