/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  /* Encabezado */
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    width: 100px;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  nav {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Contenido principal */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  
  /* Sección central */
  .seccion-central {
    width: 80%;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  /* Tarjetas */
  .tarjeta {
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  /* Pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  
  