body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(233, 244, 241);
}

.float-left {
    background-color: rgb(249, 214, 124);
    width: 260px;
    height: 230px;
    border-radius: 19px;
    justify-content: center;
    float: left;
    margin-right: 40px;
    display: absolute;
    margin-left: 120px;
}

.float-left h2 {
    margin-left: 20px;
    padding-top: 5px;
}
.float-left li {
    padding: 1px;
}

.content {
    border-radius: 19px;
    background-color: rgb(255, 255, 255);
    display: relative;
    margin-left: 420px; 
    padding: 20px;
    height: 600px;
    width: 750px;
}